#frmdangky label{
    color: darkslategray;
    width: 120px;
    display: inline block;
	margin-left:35px;
}
#frmdangky .txt{
    width: 450px;
    padding: 8px;
    border: 1px solid lightcoral;
	margin: 10px 30px 3px 30px;
}
#frmdangky button{
    width: 120px;
    height: 40px;
    margin: 5px;
}
#frmdangky{
    border: 1px solid #dadce0;
    border-radius: 5px;
    background-color: white;
    margin:20px;
} 
.Nut{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
}
html{
    justify-content: center;
    display: flex;
}
.btn{
    background-color:#1a73e8; 
    color:white;
    border:none;
    border-radius:3px;
}   
.form_message{
    color: red;
    font-size: 13px;
    margin-left: 173px;
}